.png {
  background-image: url('images/test.png');
  width: 100px;
  height: 100px;
}

.svg {
  background-image: url('images/test.svg');
  width: 100px;
  height: 100px;
}

.background {
  background-color: var(--green);
  width: 100px;
  height: 100px;
}
