.A_ToggleButton {
  &.play {
    width: 24px;
    height: 24px;
    background-image: url('../../../images/play.svg');
    cursor: pointer;

    &.isOn {
      background-image: url('../../../images/pause.svg');
    }
  }
}
